DJANGO_SECRET_KEY=RANDOM-STRING-HERE
DJANGO_DEBUG=1-IF-DEBUG-MODE-ELSE-0

DJANGO_SUPERUSER_EMAIL=EMAIL-FOR-SUPER-USER-(WILL-AUTOCREATED)
DJANGO_SUPERUSER_PASSWORD=PASSWORD-FOR-SUPER-USER-(WILL-AUTOCREATED)

POSTGRES_USER=POSTGRES-USER
POSTGRES_PASSWORD=POSTGRES-PASSWORD
POSTGRES_DB=POSTGRES-DB-NAME
POSTGRES_HOST=t2s-db# DON'T CHANGE NEED FOR DOCKER COMPOSE FILE

REDIS_HOST=redis# DON'T CHANGE
REDIS_PORT=6379# DON'T CHANGE
REDIS_DB=0# DON'T CHANGE
REDIS_CHANNELS=1# DON'T CHANGE

CELERY_TASK_ACKS_LATE=True# DON'T CHANGE
CELERY_TASK_TRACK_STARTED=True# DON'T CHANGE
CELERY_TIMEZONE=UTC# TIMEZONE
CELERY_BROKER_URL=redis://redis:6379/0# DON'T CHANGE